p {
  color: red;
  font-family: serif, sans-serif, Georgia, 'Times New Roman';
  font-size:150%;
  text-align: center;
}

.grid-container-price > div > p {
  color: rgb(218, 203, 203);
  font-family: Verdana;
  font-size:50%;
}

h1 {
  color: rgb(35, 179, 223);
  text-align: center;
}

body {
  background-color: purple;
  background-repeat: no-repeat;
  background-size: cover;
}

.one { grid-area: Tacos; }
.two { grid-area: Beer; }
.three { grid-area: Wine; }	
.four{ grid-area: Deserts; }	
.five{ grid-area: Reservatios; }	
.item6 { grid-area: Menu; }	
.item7 { grid-area: price1; }
.item8 { grid-area: price2; }	

.grid-container-menu {
  display: grid;
  grid-template-areas:
    'Tacos Beer Wine Deserts Reservatios';
  gap: 5px;
  background-color: white;
  padding: 14px;
}
.grid-container-menu > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.grid-container{
  display: grid;
  grid-template-areas:
  'Menu Menu Menu price1 .'
  'Menu Menu Menu price2 .';
  background-color: gray;
  padding: 5px;
}

.grid-container > div {
  background-color: black;
  text-align: left;
  padding: 10px 0;
  font-size: 30px;
}

.igrid-taco {
  grid-area: taco;
}
.Taco-para{
  grid-area: textArea;
  position: relative;
  right: 100px;
  font-size: 10px;
  font-family: i;
  justify-content: center;
}
.grid-container-taco {
  display: grid;
  grid-template-areas:
    'rotiArea textArea textArea textArea';
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}
.grid-container-taco.p {
  font-size: medium;
}

}

.item11 {
  grid-area: TacoImgArea;
}

.grid-containertest {
  display: grid;
  grid-template-areas:
    'TacoImgArea . . . .';
  grid-gap: 2px;
  background-color: yellow;
  padding: 1px;
}
.grid-container1 {
  display: grid;
  grid-template-areas:
    'TacoImgArea TacoImgArea TacoImgArea TacoImgArea'
    'TacoImgArea TacoImgArea TacoImgArea TacoImgArea';
  grid-gap: 2px;
  background-color: yellowgreen;
  padding: 1px;
}

.grid-container1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'TacoImgArea TacoImgArea TacoImgArea TacoImgArea'
    'TacoImgArea TacoImgArea TacoImgArea TacoImgArea';
  grid-gap: 10px;
  background-color: whitesmoke;
  padding: auto;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.taco { grid-area: menu; }
.pricetag { grid-area: main; }
.iteamprice { grid-area: footer; }


.grid-container-price {
  display: grid;
  grid-template-areas:
    
    'menu menu menu menu main main'
    'menu menu menu menu footer footer';
  gap: 1px;
  background-color: black;
  padding: 10px;
}

.grid-container-price > div:nth-child(2) {
  background-color: gray;
  text-align: center;
  padding: 5px;
  font-size: 30px;
  text-color: black;
}

.grid-container-price > div:nth-child(3) {
  background-color: gray;
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
}

.pricetag, .teamprice {
  position: relative;
  right: 100px;
  font-size: 20px;
  font-family: Verdana;
}

footer {
  box-sizing: border-box;
    margin: 0;
    padding: auto;
    background-color: #ffa500;
    text-align: center;
    margin-top: 44px;
}